
// Accent Colors
$color-primary:  	 #709FB3; // Light blue
$color-secondary:    #709FB3; // Light blue
				
$color-grey:		 #9B9B9B; // Mid grey

$color-light:        #f7f7f7;
$color-dark:         #595959;

// Fonts
$color-font-base:    $color-dark;

// States / Alerts
$color-error:        #CF4848;
$color-succes:       #6CC261;
