.site-header {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  font-size: $font-size-base;
  justify-content: space-between;
  padding: $padding;
}

.site-logo {
  border-bottom: none;
  color: #595959;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}

.site-logo .emoji {
  display: inline-block;
  font-size: 2em;
  line-height: 1em;
  margin-right: 11px;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  vertical-align: middle;
}

.site-logo .beta {
  color: #888;
  font-size: 12px;
  margin-left: 5px;
}