<section class="container">
	<div class="info-container">
		<div class="chart-box">
			<h2 class="chart-box__title">Valuation</h2>
			<div id="valuation-history" class="chart--area">
				<canvas baseChart
				[datasets]="barChartData"
				[labels]="barChartLabels"
				[options]="barChartOptions"
				[legend]="barChartLegend"
				[chartType]="barChartType">
				</canvas>
			</div>
		</div>
		<div class="list-box list-box--valuation">
			<ul class="timline">
				<li class="valuation-child">
					<span>2021-07-20</span>
					<span><span class="currency-symbol">DKK</span> 65,659</span>
				</li>
			</ul>
		</div>
	</div>
</section>    